/* header */

.header {
	display: block;
	width: 100%;
	position: relative;
	z-index: 11;

	&__top {
		padding: 8px 0;
		display: flex;
		justify-content: flex-end;
		align-items: flex-end;
		max-width: 1140px;
		width: 100%;
		margin-left: auto;
		margin-right: auto;

		@include media('<lg') {
			padding-left: 15px;
			padding-right: 15px;
		}

		@include media('<md') {
			align-items: center;
			justify-content: space-between;
			padding: 5px 15px;
		}

		@include media('<sm') {
			flex-direction: column;
			align-items: flex-start;
			justify-content: center;
			padding-top: 16px;
			padding-bottom: 16px;
		}
	}

	&__top-left {
		display: flex;
		align-items: flex-end;
		justify-content: flex-start;
	}

	&__logo {
		display: block;
		max-width: 114px;
		width: 100%;
		margin-bottom: 5px;

		svg {
			width: 100%;
			height: 100%;
			display: block;
		}

		@include media('<md') {
			display: none;
		}
	}

	&__logo-desc {
		@include notoSerif;
		font-size: 18px;
		line-height: 42px;
		font-weight: 600;
		margin-left: 18px;
		background: linear-gradient(180deg, #E64556 14.08%, #C30F23 52.34%, #820916 90.05%);
		-webkit-background-clip: text;
		-webkit-text-fill-color: transparent;

		@include media('<md') {
			margin-left: 0;
		}

		@include media('<sm') {
			font-size: 14px;
			line-height: 18px;
			margin-bottom: 13px;
		}
	}

	&__top-right {
		display: flex;
		justify-content: flex-start;
		align-items: stretch;
		margin-bottom: 10px;
		margin-left: 170px;

		@include media('<md') {
			margin-left: 0;
			margin-bottom: 0;
		}

	}

	&__top-text {
		font-size: 14px;
		line-height: 18px;
		position: relative;
		padding-left: 22px;

		&:last-child {
			margin-left: 20px;
		}

		&:before {
			content: '';
			position: absolute;
			top: 2px;
			left: 0;
			border: 7px solid transparent;
			border-left: 13px solid $red;
		}

		@include media('<sm') {
			font-size: 12px;
			line-height: 16px;
		}


	}

	&__nav-wrap {
		height: 70px;
		background: linear-gradient(180deg, #E64556 14.08%, #C30F23 52.34%, #820916 90.05%);
		display: block;
		position: relative;

		@include media('<md') {
			display: flex;
			justify-content: flex-start;
			align-items: center;
			position: relative;
		}
	}

	&__nav {
		display: block;
		max-width: 1140px;
		height: 100%;
		margin-left: auto;
		margin-right: auto;

		@include media('<md') {
			position: absolute;
			top: 70px;
			left: -100%;
			width: 100%;
			height: 100vh;
			background: linear-gradient(180deg, #E64556 14.08%, #C30F23 52.34%, #820916 90.05%);
		}
	}

	&__nav-logo {
		display: none;
		max-width: 193px;
		height: 100%;
		width: 100%;

		@include media('<md') {
			display: block;
			margin-left: 15px;
		}

		svg {
			display: block;
			width: 100%;
			height: 100%;
		}
	}

	&__nav-list {
		display: flex;
		flex-flow: row nowrap;
		align-items: stretch;
		justify-content: space-between;
		height: 100%;

		@include media('<md') {
			display: block;
			padding-top: 40px;
		}
	}

	&__nav-item {
		flex-grow: 1;
		display: flex;
		@include media('<md') {
			opacity: 0;
		}
	}

	&__nav-link {
		border: 1px solid $red;
		width: 100%;
		display: flex;
		justify-content: center;
		align-items: center;
		position: relative;
		overflow: hidden;
		@include media('<md') {
			padding-top: 30px;
			padding-bottom: 30px;
			border: none;
			border-bottom: 1px solid rgb(74, 74, 74);
		}

	}

	&__nav-link-inner {
		color: $white;
		font-size: 16px;
		line-height: 20px;

		@include media('<md') {
			font-size: 20px;
			line-height: 26px;
		}
	}

	.menu-open {
		left: 0;

		.header__nav-item {
			animation: fadeInRight 0.4s cubic-bezier(0.42, 0.83, 0.7, 1.5) forwards;
			animation-delay: 0.4s;
			transition-delay: 0.4s;
			transform: translateX(200px);

			&:nth-of-type(2) {
				animation-delay: 0.5s;
				transition-delay: 0.5s;
			}

			&:nth-of-type(3) {
				animation-delay: 0.6s;
				transition-delay: 0.6s;
			}

			&:nth-of-type(4) {
				animation-delay: 0.7s;
				transition-delay: 0.7s;
			}

			&:nth-of-type(5) {
				animation-delay: 0.8s;
				transition-delay: 0.8s;
			}
		}
	}

	.hamburger-btn {
		display: none;
		position: absolute;
		top: 50%;
		transform: translateY(-50%);
		right: 15px;
		width: 30px;
		height: 23px;
		@include media('<md') {
			display: block;
		}

		.hamburger-line {
			display: block;
			height: 4px;
			background-color: $white;
		}

		.hamburger {
			position: relative;

			.hamburger-line {
				width: 30px;
				margin-bottom: 5px;
				transition: .3s;

				&:nth-child(1) {
					transition-delay: .2s;
				}

				&:nth-child(2) {
					transition-delay: .25s;
				}

				&:nth-child(3) {
					transition-delay: .5s;
				}
			}
		}

		.cross {
			position: absolute;
			top: 50%;
			height: 32px;
			width: 32px;
			transform: translateY(-50%) rotate(45deg);

			.hamburger-line {
				background-color: $white;
				transition: .3s;
				position: absolute;

				&:nth-child(1) {
					height: 0%;
					width: 4px;
					top: 0;
					left: 14px;
					transition-delay: 0s;
				}

				&:nth-child(2) {
					width: 0%;
					height: 4px;
					left: 0;
					top: 13px;
					transition-delay: .05s;
				}

			}

		}

		&.active {
			.hamburger {
				.hamburger-line {
					width: 0;

					&:nth-child(1) {
						transition-delay: .1s;
					}

					&:nth-child(2) {
						transition-delay: .325s;
					}

					&:nth-child(3) {
						transition-delay: .45s;
					}
				}
			}

			.cross {
				.hamburger-line {

					&:nth-child(1) {
						height: 100%;
						transition-delay: .625s;
					}
				}

				span {
					&:nth-child(2) {
						width: 100%;
						transition-delay: .375s;
					}

				}

			}
		}
	}
}


@keyframes fadeInRight {
	0% {
		opacity: 0;
	}

	100% {
		opacity: 1;
		transform: translateX(0);
	}
}
