.top {

	&__image-wrap {
		display: block;
		max-width: 1140px;
		margin: 0 auto;
		padding: 0 $container-p;
		box-sizing: content-box;

		@include media('<sm') {
			max-width: 100%;
			padding: 0;
		}
	}

	&__image {
		background-position: 70% 50%;
		background-repeat: no-repeat;
		min-height: 480px;
		display: flex;
		justify-content: center;
		align-items: center;
		text-align: center;
	}


	&__list {
		display: flex;
		flex-flow: row wrap;
		justify-content: center;
		align-items: flex-start;
		margin-left: -15px;
		margin-right: -15px;

	}


	&__item {
		max-width: 360px;
		width: calc(100% / 3);
		background-color: rgba(#d55765, 0.7);
		display: block;
		margin-bottom: 30px;
		margin-left: 15px;
		margin-right: 15px;
		position: relative;


		@at-root :root.hover &:hover {
			.top__item-icon {

				&::after {
					width: 20px;
				}
			}

			.top__item-image {
				transform: scale(1.2);
			}

		}

		@include media('<md') {
			width: calc(100% / 2);
			max-width: 354px;

		}

		@include media('<sm') {
			width: 100%;
			max-width: 100%;
		}

	}

	&__item-link {
		display: block;
		width: 100%;
	}

	&__item-inner {
		padding: 10px 20px;
		position: relative;

		@include media("<md") {
			padding-top: 1px;
			padding-bottom: 5px;
		}
	}

	&__item-icon {
		position: absolute;
		top: 50%;
		right: 20px;
		max-width: 23px;
		width: 100%;
		display: block;
		transform: translatey(-40%);
		transition: .3s;

		&:after {
			content: "";
			position: absolute;
			top: 11px;
			right: 7px;
			width: 0;
			height: 3px;
			transition: .4s;
			background-color: #fff;
		}

		svg {
			display: block;
			width: 100%;
		}

	}

	&__item-text {
		font-size: 16px;
		line-height: 20px;
		color: $white;
		word-break: break-word;
	}

	&__item-image-wrap {
		overflow: hidden;
		max-width: 340px;
		margin-left: auto;
		margin-right: auto;
		border: 10px solid #d55765;
		box-sizing: content-box;

		@include media('<md') {
			max-width: 354px;
		}

		@include media('<sm') {
			max-width: 100%;
		}
	}

	&__item-image {
		display: block;
		width: 100%;
		height: 0;
		padding-bottom: calc(200 / 340 * 100%);
		position: relative;
		transition: .3s;

		img {
			display: block;
			width: 100%;
			height: 100%;
			position: absolute;
			top: 0;
			left: 0;
			object-fit: cover;
			object-position: 50% 50%;

			@include media('<sm') {
				object-position: 0 0;
			}
		}


		@include media('<sm') {
			padding-bottom: calc(130 / 325 * 100%);
		}
	}
}

.about {

	.secondary-title {
		margin-bottom: 20px;
	}

	&__text {
		width: 100%;
		display: block;
	}

	&__services-list {
		display: flex;
		justify-content: center;
		align-items: flex-start;
		flex-flow: row wrap;
		padding: 40px 89px 10px 89px;
		border: 3px solid #D24B5A;
		background: linear-gradient(180deg, #FFCEAA 0%, #FFFFFF 100%);


		@include media('<sm') {
			flex-direction: column;
			align-items: center;
			padding: 40px 45px 10px 45px;
		}
	}

	&__services-item {
		margin-right: 70px;
		margin-bottom: 30px;
		position: relative;
		display: block;

		&:not(:last-child):after {
			content: '';
			position: absolute;
			top: 2px;
			right: -50px;
			width: 30px;
			height: 22px;
			background-image: url("/images/about/Arrow.svg");
			background-repeat: no-repeat;
			background-size: contain;
			background-position: 50% 50%;

			@include media('<sm') {
				transform: rotate(90deg) translateY(80%);
				left: 50%;
				top: 40px;
			}
		}

		@include media('<sm') {
			margin-bottom: 60px;
			margin-right: 0;
		}
	}

	&__products-list {
		display: flex;
		justify-content: flex-start;
		align-items: stretch;
		flex-flow: row wrap;
		margin-left: -6px;
		margin-right: -6px;
	}

	&__products-item {
		width: calc(100% / 3);
		display: flex;
		align-items: stretch;
		padding-left: 6px;
		padding-right: 6px;
		margin-bottom: 20px;

		@include media('<md') {
			width: 50%;
		}

		@include media('<sm') {
			width: 100%;
		}
	}

	&__products-item-inner {
		padding: 28px;
		display: flex;
		width: 100%;
		flex-direction: column;
		align-items: center;
		justify-content: space-between;
		background-color: #FFCEAA;

		@include media('<md') {
			padding: 35px;
		}

		@include media('<sm') {
			padding: 30px 25px;
		}
	}

	&__products-top {
		display: block;
		width: 100%;
	}

	&__products-image-wrap {
		display: block;
		max-width: 292px;
		width: 100%;
		margin-top: 20px;
	}

	&__products-image {
		position: relative;
		padding-bottom: calc(198 / 292 * 100%);
		display: block;
		width: 100%;
		height: 0;

		img {
			position: absolute;
			top: 0;
			left: 0;
			object-fit: cover;
			object-position: 50% 50%;
			width: 100%;
			height: 100%;
			display: block;
		}

	}


}

.development {

	&__content {
		display: flex;
		justify-content: flex-start;
		align-items: flex-start;
		flex-flow: row nowrap;

		@include media('<md') {
			flex-wrap: wrap;
			justify-content: center;
		}
	}

	&__text-wrap {
		display: block;
	}

	&__content-image {
		display: block;
		width: 100%;
		max-width: 560px;
		margin-left: 20px;

		@include media('<md') {
			max-width: 480px;
			margin-left: 0;
			margin-top: 40px;
		}

		@include media('<sm') {
			margin-top: 30px;
		}

		img {
			display: block;
			width: 100%;
		}
	}
}

.company {

	&__info {
		display: block;
		width: 100%;
	}

	&__info-item {
		display: flex;
		justify-content: flex-start;
		align-items: flex-start;
		flex-flow: row nowrap;
		border-bottom: 1px solid #C4C4C4;
		padding-bottom: 20px;
		padding-top: 20px;


		&:last-child {
			border: none;
			@include media('<md') {
				display: block;
				.company__info-definition {
					margin-left: 0;
				}
			}
		}
	}

	&__info-term {
		max-width: 260px;
		width: 100%;

		@include media('<md') {
			max-width: 140px;
		}
		@include media('<sm') {
			max-width: 95px;
		}
	}

	&__info-definition {
		margin-left: 20px;
		display: block;

		@include media('>md') {
			width: 100%;
		}
	}

	&__info-definition-indent {
		margin-left: 15px;

		@include media('<sm') {
			margin: 0;
		}
	}

	&__info-definition-link {
		font-size: 18px;
		line-height: 26px;
		font-weight: 400;
		color: $charcoal;
		@include media('<md') {
			font-size: 16px;
			line-height: 24px;
		}
		@include media('<sm') {
			font-size: 14px;
			line-height: 22px;
		}
	}

	.map {
		display: block;
		width: 100%;
		overflow: hidden;
		padding-bottom: calc(500 / 850 * 100%);
		position: relative;
		height: 0;

		@include media('<md') {
			max-width: 690px;
			margin-left: auto;
			margin-right: auto;
			margin-top: 20px;
		}

		iframe {
			display: block;
			width: 100%;
			height: 100%;
			position: absolute;
			top: 0;
			left: 0;
		}
	}


}

.quality {

	&__content-text {
		@include media('>sm') {
			text-align: center;
		}
	}

	&__control-list {
		display: flex;
		justify-content: space-between;
		flex-flow: row wrap;
		align-items: flex-start;
		@include media('<sm') {
			flex-direction: column;
			align-items: center;
		}
	}

	&__control-item {
		max-width: 270px;
		width: 100%;

		&:not(:last-child) {
			@include media('<sm') {
				margin-bottom: 60px;
			}
		}

		@include media('<md') {
			width: 180px;
		}

		&:first-child {
			@include media('>sm') {
				margin-top: 135px;
			}

		}

		&:last-child {
			@include media('>sm') {
				margin-top: 135px;
			}
		}
	}

	&__control-item-circle {
		width: 100%;
		height: 270px;
		display: flex;
		justify-content: center;
		align-items: center;
		border-radius: 50%;
		background: linear-gradient(180deg, #FFCEAA 0%, #FFFFFF 100%);

		@include media('<md') {
			height: 180px;
		}

	}

	&__control-item-icon {
		display: block;
		width: 100%;
		max-width: 130px;
		@include media('<md') {
			max-width: 86px;
		}
		@include media('<sm') {
			max-width: 51px;
		}

		svg {
			display: block;
			width: 100%;
			height: 100%;
		}
	}

	&__certificates {
		display: flex;
		justify-content: center;
		align-items: flex-start;
		flex-flow: row nowrap;

		@include media('<sm') {
			flex-direction: column;
			align-items: center;
		}
	}

	&__certificates-figure {
		display: block;
		max-width: 277px;
		width: 100%;
	}

	&__image {
		width: 100%;
		height: 0;
		display: block;
		border: 2px solid #FFCEAA;
		position: relative;
		padding-bottom: calc(400 / 277 * 100%);

		img {
			display: block;
			width: 100%;
			height: 100%;
			position: absolute;
			top: 0;
			left: 0;
			object-fit: cover;
			object-position: 50% 50%;
		}
	}


}

.production {

	&__subtitle {
		background-color: #D24B5A;
		max-width: 655px;
		width: 100%;
		margin-left: auto;
		margin-right: auto;
		color: $white;
		padding: 17px 10px;
		font-size: 24px;
		line-height: 32px;

		@include media('<sm') {
			font-size: 18px;
			line-height: 26px;
		}
	}

	&__info {
		display: flex;
		justify-content: flex-start;
		align-items: center;
		flex-flow: row nowrap;

		&:nth-of-type(2n) {
			flex-direction: row-reverse;
			@include media('<sm') {
				flex-direction: column;
				align-items: center;
			}

			.production__image-wrap {
				margin-left: 20px;
				margin-right: 0;
				@include media('<sm') {
					margin-left: 0;
				}
			}
		}

		@include media('<md') {
			align-items: flex-start;
		}

		@include media('<sm') {
			flex-wrap: wrap;
			flex-direction: column;
			align-items: center;
		}

	}

	&__image-wrap {
		max-width: 460px;
		width: 100%;
		display: block;
		margin-right: 20px;

		@include media('<md') {
			max-width: 390px;
		}

		@include media('<sm') {
			margin-right: 0;
			margin-top: 20px;
			order: 2;
		}

	}

	&__image {
		width: 100%;
		height: 0;
		display: block;
		position: relative;
		padding-bottom: calc(240 / 460 * 100%);

		@include media('<md') {
			padding-bottom: calc(210 / 390 * 100%);
		}

		img {
			display: block;
			width: 100%;
			height: 100%;
			position: absolute;
			top: 0;
			left: 0;
			object-position: 50% 50%;
			object-fit: cover;
		}
	}

	&__text {
		width: calc(100% - 460px);
		display: block;

		@include media('<md') {
			width: calc(100% - 390px);
		}
		@include media('<sm') {
			text-align: center;
			width: 100%;
		}
	}

	&__filling-list {
		display: block;
	}

	&__filling-item {
		background: linear-gradient(180deg, #FFCEAA 0%, rgba(255, 255, 255, 0) 100%);
		border: 3px solid #D24B5A;

		&:not(:first-child) {
			margin-top: 50px;

			@include media('<md') {
				margin-top: 40px;
			}

			@include media('<sm') {
				margin-top: 30px;
			}
		}

		.production__subtitle {
			max-width: 100%;
			background: linear-gradient(0deg, #D24B5A, #D24B5A), #D24B5A;
		}
	}

	&__filling-content {
		display: block;
		padding: 30px;
		position: relative;
		@include media('<md') {
			padding: 30px 20px;
		}
	}

	&__filling-sublist {
		display: flex;
		width: calc(100% - 350px);
		justify-content: flex-start;
		flex-flow: row wrap;
		align-items: flex-start;
		margin-left: -35px;

		@include media('<sm') {
			width: 100%;
			display: block;
			margin-left: auto;
			margin-right: auto;
			margin-top: 30px;
		}
	}

	&__filling-subitem {
		display: flex;
		align-items: flex-start;
		justify-content: flex-start;
		position: relative;
		margin-right: 70px;

		&:not(:last-child) {
			margin-bottom: 20px;
		}

		@include media('<md') {
			margin-left: 0;
			margin-right: 70px;
			&:not(:last-child) {
				margin-bottom: 15px;
			}
		}

		@include media('<sm') {
			justify-content: center;
			margin-left: 0;
			margin-right: 0;
			&:not(:last-child) {
				margin-bottom: 60px;
			}
		}

		.fourth-title {
			font-weight: 400;
			font-size: 18px;

			@include media('<xs') {
				font-size: 16px;
			}
		}

		&:not(:last-child):after {
			content: '';
			position: absolute;
			top: 2px;
			right: -50px;
			width: 30px;
			height: 22px;
			background-image: url("/images/about/Arrow.svg");
			background-repeat: no-repeat;
			background-size: contain;
			background-position: 50% 50%;

			@include media('<sm') {
				transform: rotate(90deg) translateY(80%);
				left: 50%;
				top: 40px;
			}
		}
	}

	&__filling-text {
		font-size: 18px;
		line-height: 22px;
		margin-top: 20px;
		width: calc(100% - 350px);
		margin-left: auto;
		@include media('<md') {
			font-size: 18px;
			margin-left: 0;
			width: 100%;
		}
		@include media('<sm') {
			text-align: center;
			margin-top: 30px;
		}

		@include media('<xs') {
			font-size: 16px;
		}
	}

	.clearfix {
		height: 0;
		clear: both;
	}

	&__filling-image-wrap {
		max-width: 330px;
		width: 100%;
		display: block;
		float: left;
		margin-right: 20px;
		@include media('<sm') {
			float: none;
			margin-left: auto;
			margin-right: auto;
		}
	}

	&__filling-image {
		display: block;
		width: 100%;
		height: 0;
		position: relative;
		padding-bottom: calc(150 / 330 * 100%);


		img {
			display: block;
			width: 100%;
			height: 100%;
			position: absolute;
			top: 0;
			left: 0;
			object-fit: cover;
			object-position: 50% 50%;
		}
	}

}
