/* mixins */

@mixin clearfix {
	&:before,
	&:after {
		content: '';
		display: table;
	}
	&:after { clear: both; }
}

@mixin grid($cols, $offset) {
	$Q: ( $cols - 1 ) / $cols;
	$Off: $offset * $Q;
	$width: 100% / $cols;
	width: calc(#{$width} - #{$Off});
}


@mixin notoSans {
	font-family: 'Noto Sans JP', sans-serif;
	font-style: normal;
}

@mixin  notoSerif{
	font-family: 'Noto Serif JP', sans-serif;
	font-style: normal;
}
