<!doctype html>
<html lang="ja">
<head>
	<meta charset="UTF-8">
	<meta name="description" content="<%= htmlWebpackPlugin.options.description %>">
	<meta name="keywords" content="<%= htmlWebpackPlugin.options.keywords %>">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="format-detection" content="telephone=no">
	<meta name="viewport"
				content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
	<!-- og format -->
	<meta property="og:title" content="">
	<!-- bar color -->
	<meta name="theme-color" content="#fff">
	<meta name="msapplication-navbutton-color" content="#fff">
	<meta name="apple-mobile-web-app-status-bar-style" content="#fff">
	<!-- favicon -->
	<!--<link rel="shortcut icon" href="images/favicon.ico" type="image/x-icon">-->
	<!--<link rel="apple-touch-icon" href="images/apple-touch-icon152.png" sizes="152x152">-->
	<title>Home</title>
</head>
<body>
<div class="wrapper" id="wrapper">
	<%= _.template(require('./parts/header.html'))() %>
	<div class="app" id="app">

		<section class="development">
			<div class="container">
				<div class="section-header">
					<div class="section-header__image-wrap">
						<div class="section-header__image">
							<img src="/images/development/development_top_image.jpg" alt="image description">
						</div>
					</div>
					<div class="section-header__box">
						<div class="section-header__box-inner">
							<div class="section-header__box-title">
								<h1 class="primary-title">事業内容</h1>
							</div>
						</div>
					</div>
				</div>

				<div class="development__content inner-offset">

					<div class="development__text-wrap">
						<p class="item">お客様満足を第一に考え、その時代ニーズより先を<br>考えた化粧品開発に努めます。</p>
						<p class=" third-top-offset">
							基礎化粧品・ヘアボディー製品・メイクアップ製品において、<br class="mb">基礎研究はもちろんのこと、<br class="tb">新素材研究開発を多様にし、安全性・安定性を考えた研究を行っていきます。
						</p>
					</div>
					<div class="development__content-image">
						<img src="/images/development/development_image.jpg" alt="image description">
					</div>
				</div>

			</div>

		</section>
	</div>
	<%= _.template(require('./parts/footer.html'))() %>
</div>
</body>
</html>

